@model Spy_Scrape.ViewModels.AdMarketplaceViewModel


    <h1>@Model.CurrentCategory</h1>
    @foreach (var ad in Model.Ads)
            {
               <div class="col-sm-4 col-lg-4 col md-4">
                   
                   <div class="img-thumbnail">
                       <img src="@ad.ImageURL" class="img-responsive" height="300" alt="social media ad example." />
                       <div class="caption">
                           <h3>@ad.AdTrafficSource</h3>
                           <h3>@ad.AdType</h3>
                           <h3>@ad.AdOS</h3>
                           <h3>@ad.AdTargetCountry</h3>
                           <h3 class="pull-right">@ad.AdTargetMarket</h3>
                           <h3 class="pull-right">@ad.AdVies</h3>
                           <h3 class="pull-right">@ad.AdRunTime</h3>
                       </div>
                   </div>
               </div>
            }

