@model Spy_Scrape.ViewModels.AdMarketplaceViewModel


<div class="row">
    <div class="col-md-4">
        <form asp-action="AdMarketplace">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CurrentCategory" />
            <div class="form-group">
                <label asp-for="CurrentNiche" class="control-label"></label>
                <select asp-for="CurrentNiche" class="form-control" asp-items="@ViewBag.Niches"></select>
                <span asp-validation-for="CurrentNiche" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentDevice" class="control-label"></label>
                <select asp-for="CurrentDevice" class="form-control" asp-items="@ViewBag.Devices"></select>
                <span asp-validation-for="CurrentDevice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="container-fluid">
    <h1>@Model.CurrentCategory</h1>
    <div class="row col-12">
        @foreach (var ad in Model.Ads)
        {
            <div class="col-4">
                <div class="thumbnail-selection">
                    <img src="@ad.ImageURL" class="img-responsive" position="relative" height="300" width="250" alt="social media ad example." />
                    <div class="caption-data">
                        <h6><a asp-controller="Ads" asp-action="AdDetails" asp-route-id="@ad.AdId">Ad Details</a></h6>
                        <h6> Traffic Source: @ad.AdTrafficSource</h6>
                        <h6> Ad Type: @ad.AdType</h6>
                        <h6> Views: @ad.AdVies</h6>

                    </div>
                </div>
                <br />
            </div>
        }
    </div>
</div>