@model Spy_Scrape.ViewModels.AdMarketplaceViewModel


    <h1>@Model.CurrentCategory</h1>
    @foreach (var ad in Model.Ads)
            {
               <div class="col-sm-4 col-lg-4 col md-4">
                   <div>
                       <img src="@ad.ImageURL" alt="@ad.AdTargetMarket" />
                   </div>
                   <div class="caption">
                   <h2>@ad.AdOs</h2>
                   <h3>@ad.AdTargetMarket</h3>
                   <h4>@ad.AdCategory.CategoryId</h4>
                    <p>MAYBE A DISCRIPTION??</p>
                   </div>
               </div>
            }

