@model Spy_Scrape.ViewModels.AdMarketplaceViewModel


    <h1>@Model.CurrentCategory</h1>
    @foreach (var ad in Model.Ads)
            {
               <div class="col-sm-4 col-lg-4 col md-4">
                   <div>
                       <img src="@ad.ImageURL" alt="@ad.AdTargetMarket" />
                       <div class="caption">
                           <h2>@ad.AdTrafficSource</h2>
                           <h3>@ad.AdType</h3>
                           <h3>@ad.AdOS</h3>
                           <h3>@ad.AdTargetCountry</h3>
                           <h3 class="pull-right">@ad.AdTargetMarket</h3>
                           <h3 class="pull-right">@ad.AdVies</h3>
                           <h3 class="pull-right">@ad.AdRunTime</h3>
                       </div>
                   </div>
                   
               </div>
            }

