@model Spy_Scrape.ViewModels.AdMarketplaceViewModel

@*<form asp-action="FilterMarketNiche" method="get">
    <div>
        <p>
            Find A Device: <input type="text" name="niche" value="" />
            <input type="submit" value="Search" />
            <a asp-action="AdMarketplace">Remove Filter</a>
        </p>
    </div>
</form>*@

<p>
    @using (Html.BeginForm())
    {
        <select name="niche" asp-items="@ViewBag.Niches"></select>
        <input type="submit" value="Search" />
        <a asp-action="AdMarketplace">Remove Filter</a>
    }
</p>

<div class="container-fluid">
    <h1>@Model.CurrentCategory</h1>
    <div class="row col-12">
        @foreach (var ad in Model.Ads)
        {
            <div class="col-4">
                <div class="thumbnail-selection">
                    <img src="@ad.ImageURL" class="img-responsive" position="relative" height="300" width="250" alt="social media ad example." />
                    <div class="caption-data">
                        <h6><a asp-controller="Ads" asp-action="AdDetails" asp-route-id="@ad.AdId">Ad Details</a></h6>
                        <h6> Traffic Source: @ad.AdTrafficSource</h6>
                        <h6> Ad Type: @ad.AdType</h6>
                        <h6> Views: @ad.AdVies</h6>

                    </div>
                </div>
                <br />
            </div>
        }
    </div>
</div>