@model Spy_Scrape.Models.Ad

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdTrafficSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdTrafficSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdOS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdOS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdTargetMarket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdTargetMarket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdTargetCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdTargetCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdVies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdVies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdRunTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdRunTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdCategory.CategoryId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AdId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
