@model IEnumerable<Spy_Scrape.Models.Ad>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdTrafficSource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdOS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdTargetMarket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdTargetCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdVies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdRunTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdTrafficSource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdOS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdTargetMarket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdTargetCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdVies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdRunTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdCategory.CategoryType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AdId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AdId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
